* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 95vh;
  background-color: rgb(255, 238, 145);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.title {
  color: rgb(126, 64, 6);
  font-size: 1.2rem;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

}

.box {
  height: 18vmin;
  width: 18vmin;
  background-color: rgb(226, 133, 46);
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 3px white;
  font-size: 8vmin;
  color: white;
}

.reset-btn {
  padding: 20px;
  font-size: 3vmin;
  border-radius: 1rem;
  border: solid 2px darkblue;
  background-color: rgb(171, 224, 240);
}
.msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  /* text-align: center; */
  gap: 1.5rem;
}

#msg {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(248, 104, 2);
}
.new-btn {
  padding: 15px;
  font-size: 3vmin;
  border-radius: 1rem;
  border: solid 2px black;
  box-shadow: 0 0 0 2px white;
  background-color: rgb(203, 15, 75);
  color: white;
}

.hide {
  display: none;
}

footer {
  width: 100vw;
  height: 2.25rem;
  font-size: 1.2rem;
  background-color: orange;
  color: rgb(126, 64, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

